# Основные зависимости проекта OCR-autoclicker
uiautomator2>=3.0.0      # Для взаимодействия с Android-устройством через ADB
opencv-python>=4.8.0.0    # Для обработки изображений и Template Matching
numpy>=1.24.0            # Математическая обработка массивов изображений
easyocr>=1.7.1           # Распознавание текста (букв) на экране
torch>=2.0.0             # Глубокое обучение для EasyOCR (CPU/GPU)
torchvision>=0.15.0      # Дополнительные утилиты для PyTorch
